* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  position: relative;
  padding-bottom: 50px;
}

body {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url(./../images/bodybackground.jpg);
  background-size: cover;
  width: 100%;
}

header {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  border-bottom: 3px solid #cccccc;
  margin-top: 0px;
}

header::after {
  clear: both;
  content: "";
  display: table;
}

h1,
h2 {
  font-family: "Georgia", Times, Times New Roman, serif;
}

h1 {
  font-size: 35px;
}

h2 {
  margin-top: 10px;
  color: #4aaaa5;
  border-bottom: 2px solid #cccccc;
  line-height: 2.6em;
  font-size: 30px;
}

.tealbg {
  background-color: #4aaaa5;
  color: white;
}

.container {
  width: 960px;
  display: block;
  margin: auto;
  align-items: center;
}

#name {
  display: block;
  float: left;
  padding: 0 35px;
  margin: 10px 0 0 0;
}

nav {
  float: right;
  display: block;
}

a {
  text-decoration: none;
  color: #777777;
  padding: 43px 30px;
  margin-right: 0;
  font-size: 19px;
  line-height: 90px;
}

a:hover {
  background-color: #666666;
  color: white;
}

section {
  background-color: #ffffff;
  border-color: #dddddd;
  width: 960px;
  margin: 30px auto;
  padding: 0 30px 20px 30px;
  overflow: auto;
}

section p {
  color: black;
  font-size: 18px;
  line-height: 1.6em;
}

#imgTQ {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
  margin-top: 5px;
}

footer {
  background-color: #666666;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  place-items: center;
  border-top: 10px solid #4aaaa5;
  left: 0;
  right: 0;
  bottom: 0;
}

footer p {
  color: #999999;
  position: absolute;
  bottom: 0px;
  margin: 0;
}

label {
  display: block;
  line-height: 30px;
  font-size: 1.2em;
  margin-bottom: 3px;
}

input {
  display: block;
  margin-bottom: 30px;
  line-height: 30px;
  width: 100%;
}

#submitbtn {
  width: 90px;
  cursor: pointer;
  margin-top: 20px;
}

.port-elem {
  width: 300px;
  height: 200px;
  float: left;
  background-size: contain;
  margin: 0 40px 40px 0;
  position: relative;
}

#port-elem-1 {
  background-image: url(./../images/animal.jpg);
}

#port-elem-2 {
  background-image: url(./../images/car.jpg);
}

#port-elem-3 {
  background-image: url(./../images/food.jpg);
}

#port-elem-4 {
  background-image: url(./../images/gaming.jpg);
}

#port-elem-5 {
  background-image: url(./../images/holiday.jpg);
}

#port-elem-6 {
  background-image: url(./../images/Nature.jpg);
}

#port-elem-7 {
  background-image: url(./../images/working.jpg);
}

#port-elem-8 {
  background-image: url(./../images/graphicart.jpg);
}

.port-btn {
  width: 100%;
  line-height: 30px;
  position: absolute;
  bottom: 15px;
  font-size: 1.1em;
  cursor: pointer;
}
